 <%- include('../partials/head',{title:"Registro"}) %>

    <body>
        <header class="header">
            <h1>Aire Libre</h1>
            <h2>Registro</h2>
            <p>Vive tu propia Aventura!!!</p>
        </header>
        <main>
            <a href="/">
            <button class="volver">Volver</button>
            </a>
            <form action="/users/process" method="POST">
                <div class="form-group">
                    
                    <label for="name">Nombre</label>
                    <input type="text" name="name" required value="<%= locals.name ? name : "" %>">
                    <% if(locals.errores && locals.errores.name) {%>
                        <p> <%= errores.name.msg %></p>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="surname">Apellido</label>
                    <input type="text" name="surname" required value="<%= locals.surname ? surname : ""%>">
                    <% if(locals.errores && locals.errores.surname) {%>
                        <p> <%= errores.surname.msg %></p>
                    <% } %>
                </div>
                
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" required  value="<%= locals.password ? password : ""%>">
                    <% if(locals.errores && locals.errores.password) {%>
                        <p> <%= errores.password.msg %></p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="password2">Confirmar Contraseña</label>
                    <input type="password" name="password2" required value="<%= locals.password2 ? password2 : ""%>">
                    <% if(locals.errores && locals.errores.password2) {%>
                        <p> <%= errores.password2.msg %></p>
                    <% } %>
                </div>
                               
                <div class="form-group">
                    <label for="mail">Correo electronico</label>
                    <input type="text" name="mail" required value="<%= locals.mail ? mail : ""%>">
                    <% if(locals.errores && locals.errores.mail) {%>
                        <p> <%= errores.mail.msg %></p>
                      <% } %>
                </div>
                
              <div class="registrarse">
                <button type="submit"> Registrarse</button>
            </div>
            </form>
           
        </main>
        <%- include('../partials/footer') %>
    </body>

    </html>