<%- include('../partials/head',{title:'Aventura'}) %>

<%- include('../partials/header') %>

<main>

  <h1>Sector Aventura/Aire Libre</h1>
  
  <section class="producto deportes aventura">
    <% aventura.forEach((product)=> { %>
      <article class="articulo detalle">

        <a href="/product/detail/<%=product.id%>">
          <img src="/images/<%= product.imagen %>" alt=""></a>
        <p>
          <%=product.nombre %>
        </p>
        <p>
          <%=product.precio %>
        </p>
      </article>
      <% }) %>
  </section>
</main>




<%- include('../partials/footer') %>