<%- include('../partials/head',{title:'Lista'}) %>

  <body>
    <header class="header">
      
  <nav>
      
      <ul>
          <li><a href="/product/add ">Agregar</a></li>
        
          <li><a href="/product/list">Lista de productos</a></li>
  </ul>
</nav>
  <a href="/">
  <i class="fa-solid fa-person-walking-arrow-right"></i>
  </a>
  
</header>

    <main>
      <h1>Productos</h1>


      <h2>Lista de productos</h2>
      <table>
      <thead>
        <tr>
        <th>#</th>
        <th>Categoria</th>
         <th>Precio</th>
        
      </tr>
      </thead>
        
         <tbody> 
          
            <% products.forEach(({ id,categoryId, name, price})=> { %>
            <tr>
             
              <th>
                <%= categoryId %>
              </th>
              <th><a href="/product/edit/<%= id %>">
                <%= name %>
              </a>
              </th>
              <th>
                <%= price %>
              </th>
       
      </tr>
      <% }) %>
     
    </tbody>
          </table>

       

    </main>
    <%- include('../partials/footer') %>
  </body>