<%- include('../partials/head',{title:'Deportes'}) %>

<%- include('../partials/header') %>

<main>

    <h1>Sector Deporte</h1>

    <section class="producto deportes">
        <% sports.forEach((product)=> { %>
          <article class="articulo detalle">

            <a href="/product/detail/<%=product.id%>">
              <img src="/images/<%= product.image %>" alt=""></a>
            <p>
              <%=product.name %>
            </p>
            <p>$
              <%=product.price %>
            </p>
          </article>
          <% }) %>
      </section>
  
</main>




<%- include('../partials/footer') %>