<%- include('../partials/head',{title: category.name }) %>

<%- include('../partials/header') %>

<main>

  <h1>Sector <%= category.name %></h1>
  
  <section class="producto deportes aventura">
    <% category.products.forEach((product)=> { %>
      <article class="articulo detalle">

        <a href="/product/detail/<%=product.id%>">
          <img src="/images/products/<%= product.image %>" alt=""></a>
        <p>
          <%=product.name %>
        </p>
        <p>$
          <%=product.price %>
        </p>
      </article>
      <% }) %>
  </section>
</main>




<%- include('../partials/footer') %>