<%- include('../partials/head',{title:'Detalle de articulo'}) %>

    <%- include('../partials/header') %>
        <main>
            <section class="producto">
                <article class="articulo">

                    
                    <h2>
                        <%= product.name %>
                    </h2>
                    <img src="/images/products/<%= product.image %>" alt="">
                    
                    <p>
                        <%= product.description %>
                    </p>
                    <p>
                        $ <%= product.price %>
                    </p>
                    <a href="/cart/<%= product.id %>">
                    <button class="comprar">Comprar</button>
            </a>
                </article>
        
        </main>

        <%- include('../partials/footer') %>