<%- include('../partials/head',{title:'Detalle de articulo'}) %>

    <%- include('../partials/header') %>
        <main>
            <section class="producto">
                <article class="articulo">

                    
                    <h2>
                        <%= product.name %>
                    </h2>
                    <img src="/images/products/<%= product.image %>" alt="">
                    
                    <p>
                        <%= product.description %>
                    </p>
                    <p>
                        $ <%= product.price %>
                    </p>
                   
                    <a href="#" onclick="agregarItem(event,'<%= product.id %>')" > <button class="confirmar"> Comprar </button> </a>
               
                </article>

                <script src="/javascripts/cart.js"></script>
                    
                </script>
        
        </main>

        <%- include('../partials/footer') %>